body{
    background-color: #EDD263;
    margin: 50px 100px;
}

.title{
    font-family: 'Source Sans Pro', sans-serif;
    color: #3B2D64;
}

.nav{
    background-color: aliceblue;
}


#search-btn{
    background-color: #3B2D64;
    height: 50px;
    width: 100px;
    border-radius: 0px 10px 10px 0;
    border: none;
}

#back-button{

    background-color: #3B2D64;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
}

#meal{
    border: none;
    border-radius: 15px;
}

#meal img{
    border-radius: 15px 15px 0 0; 
}

.custom-card{
    border: none;
    border-radius: 15px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom-card img {
    border-radius: 15px 15px 0 0; 
    height: 500px;
}

p:before {
    content: "";
    display: block;
    background: url(Icon/checkmark.png) no-repeat;
    width: 25px;
    height: 25px;
    float: left;
    margin: 0 6px 0 0;
}

#DetailsPage{
    display: none;
}